streamlit>=1.32.0
pandas>=2.1.0
openpyxl>=3.1.2
plotly>=5.18.0
streamlit-aggrid>=0.3.4
streamlit-option-menu>=0.3.6
streamlit-extras>=0.4.0
numpy>=1.26.0
XlsxWriter>=3.1.9
reportlab>=4.0.0
Pillow>=10.0.0
